<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://img.elo7.com.br/product/original/338BB23/painel-de-festa-paisagem-natureza-3x2-festa-infantil.jpg"
      alt=""
      height="200px"
      width="400px"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#"> Olha só o que temos aqui! </a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        ha ha ha ha ha vamos arrumar isso aqui asfhabdsvjkansvijcdjcbasjcb
        adasdgfasjdss jhsdalfjksjd cdsf njdsahcjs dfjkca shdkjsadjfsadbfa
        dsfjsnckjsbndavçjcbn kjnsdbcsdacadscasdcasdcasdc zxc adf!!
      </a>
    </p>
  </div>
</div>
