<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://img.elo7.com.br/product/original/338BB23/painel-de-festa-paisagem-natureza-3x2-festa-infantil.jpg"
        alt=""
        height="200px"
        width="400px"
      />
    </div>
    <div class="small-card__title">
      <h1><a href="#"> Olha só o que temos aqui! </a></h1>
    </div>
  </div>
  <div class="container__small-card__separtor">
    <hr />
  </div>
</div>
